@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: #fff;
}

h1,
h2 {
  font-family: "DM Serif Display", serif;
  font-size: 3.2em;
  line-height: 0.9em;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 4.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header,
main,
footer {
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
}

.header {
  background-color: #2d2640;
  color: #fafafa;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.header--content {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
  margin: auto auto;
}

.header--content--paragraph {
  font-size: 1em;
  padding: 2em 0;
  font-weight: -400;
}

.header--content--button {
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #fafafa;
  text-transform: uppercase;
  border: 0.1rem #fafafa solid;
  padding: 0.5em 1em;
}

.header--content--button:hover {
  background-color: #fafafa;
  color: #2d2640;
}

.header--content h1:before {
  content: "";
  position: absolute;
  width: 2em;
  border-top: 1px #fafafa solid;
  top: 25%;
}

.header--img {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 8;
  z-index: 9;
  position: relative;
  top: 10rem;
  padding: 2rem;
}

.header--img--mobile {
  display: none;
}

.header--background {
  position: absolute;
  height: 95%;
  right: 0;
  top: -5%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.header--background--mobile {
  display: none;
}

.header--nav--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 36vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--nav--menu--button {
  text-decoration: none;
  color: #837d87;
  text-transform: uppercase;
}

.header--nav--menu--button:hover {
  color: #2b272f;
}

.header--nav--menu--button__square {
  text-decoration: none;
  color: #2b272f;
  text-transform: uppercase;
  border: 0.1rem #2b272f solid;
  padding: 0.5em 1em;
}

.header--nav--menu--button__square:hover {
  background-color: #2b272f;
  color: #fafafa;
}

.main--content {
  padding-top: 20rem;
  background-color: #fff;
  max-width: 75%;
  margin: 0 auto;
}

.main--content--background {
  position: absolute;
  height: 50%;
  top: -25%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.main--content--background--mobile {
  display: none;
}

.main--content--h1 {
  color: #2b272f;
}

.main--content--h1:before {
  content: "";
  position: absolute;
  width: 2em;
  border-top: 1px #2b272f solid;
  top: 23%;
}

.main--content--slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 0;
}

.main--content--slogan--container {
  width: 20em;
}

.main--content--slogan--title {
  font-size: 1.2rem;
  padding: 25px 0;
}

.main--content--slogan--details {
  line-height: 1.5em;
  color: #837d87;
}

.main--content--banner {
  background-color: #2d2640;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5rem;
  margin: 10rem 0;
  height: 15rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main--content--banner h1 {
  color: #fafafa;
}

.main--content--banner a {
  text-decoration: none;
  color: #fafafa;
  text-transform: uppercase;
  border: 0.1rem #fafafa solid;
  padding: 0.5em 1em;
  z-index: 9;
}

.main--content--banner a:hover {
  background-color: #fafafa;
  color: #2b272f;
}

.main--content--banner--background {
  position: absolute;
  height: inherit;
  right: 12.5%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.main--content--banner--background--mobile {
  display: none;
}

.footer {
  background-color: #fafafa;
  padding-bottom: 5em;
}

.footer--background {
  position: absolute;
  z-index: 1;
}

.footer--background--mobile {
  display: none;
}

.footer--content {
  width: 75%;
  margin: 0 auto;
  position: relative;
  z-index: 99;
}

.footer--content--socmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2rem;
  padding: 5rem 0;
  border-bottom: 1px #837d87 solid;
}

.footer--content--socmed--logo {
  height: auto;
}

.footer--content--socmed svg {
  margin: 0 0.4em;
}

.footer--content--socmed svg:hover {
  cursor: pointer;
}

.footer--content--socmed svg:hover path {
  fill: #2b272f;
}

.footer--content--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  font-weight: 900;
}

.footer--content--info--title {
  padding: 2em 0;
  color: #837d87;
}

.footer--content--info--link {
  display: block;
  margin: 0.7em 0;
  text-decoration: none;
  color: #2b272f;
}

.footer--content--info--link:hover {
  text-decoration: underline;
}

a {
  font-weight: 900;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 2em;
}

.attribution a {
  color: #3e52a3;
}

.hamburger {
  display: none;
}

.hamburger--close {
  display: none;
}

.overflow-hidden {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.show--background {
  display: none;
}

@media screen and (max-width: 375px) {
  .hamburger {
    display: block;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .hamburger--close {
    display: none;
  }
  .hamburger--close:hover {
    cursor: pointer;
  }
  .header--nav {
    height: 4rem;
    display: block;
    z-index: 999;
  }
  .header--nav--simbol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em;
  }
  .header--nav .show {
    position: relative;
    padding-top: 1em;
    width: 100%;
    display: block;
    text-align: center;
    background-color: #2b272f;
    height: 100vh;
  }
  .header--nav .show a {
    display: block;
    color: #fafafa;
    margin: 2em;
  }
  .header--nav .show a:last-child {
    color: #fafafa;
    border: 0.1rem #fafafa solid;
    width: 80%;
    padding: 0.7rem 20%;
  }
  .header--nav .show--background {
    display: none;
    position: absolute;
    bottom: 0;
  }
  .header--nav--menu--button {
    display: none;
  }
  .header--nav--menu--button__square {
    display: none;
  }
  .header {
    display: block;
    text-align: center;
    height: 55em;
    position: relative;
  }
  .header--content {
    margin: auto auto;
  }
  .header--content h1 {
    position: relative;
    z-index: 99;
    padding: 2.5em 0.5em 0 0.5em;
    font-size: 2.5em;
    line-height: 1.2em;
  }
  .header--content h1:before {
    display: none;
  }
  .header--content p {
    padding: 1em 1em;
  }
  .header--content--button {
    display: inline-block;
    margin-top: 2em;
    padding: 0.5em 3em;
  }
  .header--img {
    display: none;
  }
  .header--img--mobile {
    display: block;
    width: 100%;
    height: auto;
  }
  .header--background {
    display: none;
  }
  .header--background--mobile {
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .main--content {
    padding-top: 10rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .main--content--background {
    display: none;
  }
  .main--content--background--mobile {
    display: block;
    position: absolute;
    right: 0;
    top: -10%;
  }
  .main--content--h1 {
    font-size: 2.5em;
    padding: 0 0.5em;
  }
  .main--content--h1:before {
    content: "";
    position: absolute;
    width: 3.5em;
    border-top: 1px #2b272f solid;
    top: 7%;
    left: 30%;
  }
  .main--content--slogan {
    display: block;
  }
  .main--content--slogan--container {
    display: block;
    width: 100%;
    margin: 2em 0;
  }
  .main--content--banner {
    display: block;
    position: relative;
    padding: 2em 2em;
    height: auto;
    text-align: center;
  }
  .main--content--banner--background {
    display: none;
  }
  .main--content--banner--background--mobile {
    position: absolute;
    display: block;
    height: 90%;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .main--content--banner--title {
    font-size: 2.5em;
    position: relative;
    z-index: 99;
  }
  .main--content--banner--button {
    margin: 2em;
    display: block;
  }
  .footer {
    padding-bottom: 5em;
  }
  .footer--background {
    display: none;
  }
  .footer--background--mobile {
    display: block;
    position: absolute;
  }
  .footer--content {
    text-align: center;
  }
  .footer--content--socmed {
    display: block;
    padding: 5rem 0;
    border-bottom: 1px #837d87 solid;
  }
  .footer--content--socmed--logo {
    margin-bottom: 1em;
    height: auto;
  }
  .footer--content--socmed svg {
    margin: 0 0.4em;
  }
  .footer--content--socmed svg:hover {
    cursor: pointer;
  }
  .footer--content--socmed svg:hover path {
    fill: #2b272f;
  }
  .footer--content--info {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */